# See https://www.dartlang.org/guides/libraries/private-files

# Файлы и папки созданные pub
.dart_tool/
.packages
build/
pubspec.lock

# Папки созданные dartdoc
# Если вы не создаете документацию локально удалите эти строки
doc/api/

# Файлы созданные build_runner.
*.g.dart
